/* awal style content project */

.my-project-head {
  width: 100%;
  margin: auto;
}

.my-project-head h1 {
  text-align: center;
}

.my-project-content {
  width: 70%;
  display: flex;
  background: pink;
  margin: auto;
  padding-left: 0px;
}

.my-project-content .my-project-gambar img {
  width: 800px;
  padding-top: 22px;
  padding-right: 25px;
}

.my-project-text {
  width: 70%;
  display: flex;
  background: pink;
  margin: auto;
  padding-left: 0px;
  text-align: justify;
}

/* akhir style content project */

/* awal style form my project */

.add-my-project-form {
  width: 700px;
  margin: auto;
  margin-bottom: 60px;
  padding: 50px 0;
  display: flex;
  justify-content: center;
  border-radius: 15px;
  border: 1px solid black;
  box-shadow: 10px 10px;
  background-color: pink;
}

.add-my-project-form .form-container {
  width: 550px;
}

.form-container h1 {
  text-align: center;
  margin-bottom: 40px;
}

.form-container form label {
  font-size: 20px;
  font-weight: 600;
}

.form-container .textarea-form-project {
  width: 100%;
  font-size: 20px;
  font-weight: 400;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 13px;
  background: #f4f3f3;
  border: 1px solid #c4c4c4;
  border-radius: 8px;
  resize: none;
}

.form-container textarea {
  height: 250px;
}

.form-container .kampret .input-project-date input {
  width: 264px;
  font-size: 20px;
  font-weight: 400;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 20px;
  background: #f4f3f3;
  border: 1px solid #c4c4c4;
  border-radius: 8px;
  resize: none;
  display: flex;
}

.padding-right-checkbox1 {
  padding-right: 100px;
}

.padding-right-checkbox2 {
  padding-right: 98px;
}

.form-checkbox-technologies {
  width: 103%;
  padding-bottom: 10px;
  display: flex;
  border: 1px solid #c4c4c4;
  border-radius: 8px;
  background-color: #f4f3f3;
}

.ahelah {
  padding-bottom: 10px;
  padding-top: 2px;
  padding-left: 2px;
}

.form-input-file-image {
  width: 100%;
  font-size: 20px;
  font-weight: 400;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 13px;
  background: #f4f3f3;
  border: 1px solid #c4c4c4;
  border-radius: 8px;
  resize: none;
  text-align: end;
}

.form-input-file-image input {
  color: white;
}

.add-my-project-form form .button-send-project {
  width: 102%;
  font-size: 20px;
  font-weight: 400;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 13px;
  resize: none;
  text-align: end;
}

.add-my-project-form form .button-send-project button {
  width: 100px;
  height: 30px;
  border-radius: 8px;
  background-color: orange;
  color: white;
  cursor: pointer;
}

/* akhir style form my project */

.line-hr {
  width: 80%;
}

/* awal style project post */

.project-post h1 {
  text-align: center;
}

.grid-container {
  display: grid;
  column-gap: 20px;
  row-gap: 60px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto 1fr;
  background-color: aquamarine;
  width: 80%;
  margin: auto;
}

.grid-container .grid-item1 {
  margin: auto;
  display: grid;
  width: 300px;
  border: 2px solid black;
  background-color: pink;
}

.grid-container img {
  object-fit: cover;
  width: 100%;
}

.grid-item1 button {
  width: 140px;
  height: 50px;
  border-radius: 8px;
  background-color: orange;
  color: white;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
